<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link REL="SHORTCUT ICON" HREF="../../Content/Images/bp.ico">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../../Scripts/MapExtend.js" type="text/javascript"></script>

    <script src="../../Scripts/lightbox/js/jquery-1.7.2.min.js" type="text/javascript"></script>

    @RenderSection("HeadPanel", required: false)

    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.sitefinity.css").Combined(true).Compress(true)))</head>
<body>
    <div id="header">
        <div class="page">
                <div id="menu">
                    <div style="display:inline-block; vertical-align:top; width:585px">
                        <table style="height:36px">
                            <tr>
                                <td style="width:30px"><img src="/Content/Images/bestplace-silver.png" width="30px" /></td>
                                <td style="width:70px">
                                    <a href="/">
                                        <b>Bestplace</b>
                                    </a>
                                </td>
                                <td></td>
                                <td style="width:240px">
                                    @using (Html.BeginForm("All", "Search"))
                                    {
                                        @Html.TextBox("request", (ViewBag.Request != null) ? (string)ViewBag.Request : "", new { style = "height:24px; width:240px; font-size:16px; margin-top:0px" })
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div style="width:253px; display:inline-block; float:right">
                        @Html.Partial("/Views/Shared/_LogOnPartial.cshtml")
                    </div>
                </div>
        </div>
    </div>

    <div class="page">
        @*<div id="header">

            <div id="menu">
                <div style="display:inline-block; vertical-align:top; width:585px">
                    <table>
                    <tr>
                        <td style="width:30px"><img src="/Content/Images/bestplace-silver.png" width="30px" /></td>
                        <td style="width:70px">
                            <a href="/">
                                <b>Bestplace</b>
                            </a>
                        </td>
                        <td></td>
                        <td style="width:240px">
                            @using (Html.BeginForm("All", "Search"))
                            {
                                @Html.TextBox("request", (ViewBag.Request != null) ? (string)ViewBag.Request : "", new { style = "height:24px; width:240px; font-size:16px; margin-top:0px" })
                            }
                        </td>
                    </tr>
                    </table>
                </div>

                <div style="width:253px; display:inline-block; float:right;">
                    @Html.Partial("/Views/Shared/_LogOnPartial.cshtml")
                </div>
            </div>
        </div>*@

        <div id="Main">
            <div>
                <div id="MainPanel" style="min-height:360px">
                    @RenderBody()
                </div>

                <div id="RightPanel">
                    @RenderSection("RightPanel", required: false)

                    <br />
                    <div class="fb-like-box" data-href="http://www.facebook.com/pages/Bestplacevn/350505185027625" data-width="240" data-height="180" data-show-faces="true" data-stream="false" data-header="false"></div>
                </div>
            </div>

            
         </div>
         @*<div id="footer" style="margin-bottom:15px">
            Copyright © 2012 <a href="http://webdesign.uitlab.com/">wikiblack web design</a>
        </div>*@

        <div style="margin-bottom:15px; margin-top:-10px; color:White">
            <b style="color:Silver">Contact</b><br />
            <b>Phạm Minh Tâm</b><br />
            <b>01643652922</b><br />
            <a href="mailto:wikiblack713@gmail.com" style="color:White">wikiblack713@gmail.com</a>
        </div>
    </div>

    @(Html.Telerik().ScriptRegistrar().jQuery(false))

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=298089496948422";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>

    @*@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))*@</body>
</html>
