@model IEnumerable<BestPlace.Models.bp_Profile>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

@*<table style="width:100%; margin-bottom:15px;">
    <tr>
        <td style="width:50px; padding:0px;">
            <img src="../../Content/Images/Other-Search-Metro.ico" width="30px" height="30px" style="float:right; margin-top:0px"/>
        </td>
        <td style="width:240px">
            @using (Html.BeginForm("All", "Search"))
            {
                @Html.TextBox("str", (ViewBag.Request != null) ? (string)ViewBag.Request : "", new { style = "height:26px; width:240px; font-size:16px; margin-top:-1px" })
            }
        </td>
        
        <td>
            <span class="SimpleButton">@ViewBag.AmountOfUser user</span>
        </td>
    </tr>
</table>*@

<table style="width:100%; height:40px">
    <tr>
        <td><span style="font-size:18px">Search </span><b style="font-size:18px; color:Black;">▪ <span style="color:#F08080; font-size:16px">Bạn bè</span></b></td>
    </tr>
</table>

<table>
@foreach (var item in Model)
{
<tr>
    <td style="width:50px">
        <a href="/User?userId=@item.UserId">
        @if (item.ThirdPartyId == "bp")
        {
            <img src="/Content/CoverImages/@item.Avatar" alt="@item.UserName" width="50px" style="margin-top:1px"/>
        }
        else
        {
            <img src="https://graph.facebook.com/@item.ThirdPartyId/picture" alt="@item.UserName" width="50px" style="margin-top:1px"/>
        }
        </a>
    </td>
    <td style="vertical-align:top">
        <span><a href="/User?userId=@item.UserId"><b>@item.UserName</b></a></span><br />
        <span>@item.Email</span>
    </td>
</tr>
}
</table>

@section rightPanel
{
    @Html.Action("SearchMenu", new { request = @ViewBag.Request })
}

