@model IEnumerable<BestPlace.Models.bp_Category>

@{
    ViewBag.Title = "Bestplace";
}

@using (BestPlace.Models.BestPlaceEntities db = new BestPlace.Models.BestPlaceEntities())
{
foreach (var category in Model)
{
<div>
    <table style="width:100%">
        <tr>
            <td><b style="font-size:18px; color:Black; font-size:14px">▪ <a href="/Place/Index?categoryId=@category.CategoryId" style="color:#F08080; font-size:16px">@category.Name</a></b></td>

            <td style="width:130px">
                <a href="/Place/New?categoryId=@category.CategoryId" class="DarkMetroButton">+New</a>
            </td>
        </tr>
    </table>

    <table>
    @foreach (var item in db.bp_Place_GetByCategory(category.CategoryId).Take(3).ToList())
    {
        <tr>
        <td style="width:200px; vertical-align:top">
            <div style="width:200px; max-height:150px; overflow:hidden">
                <a href="/Place/Details?placeId=@item.PlaceId">
                    <img src="../../Content/CoverImages/@Html.Photos(item.PlaceId)[0].Path" width="200px" />
                </a>
            </div>
        </td>
        <td style="vertical-align:top">
            <a href="/Place/Details?placeId=@item.PlaceId"><b>@item.Title</b></a><br />
            <span>@Html.GetProfile(item.UserId).UserName</span>
            <span>·</span>
            <span class="SimpleButton">@item.DateCreate.ToShortDateString()</span> <br />
            <p>@Html.Truncate(HttpUtility.HtmlDecode(item.Descript), 256)</p>
        </td>
    </tr>
    }
    </table>
    
</div>
}
}